.container {
  padding-top: 20px;
}
.error {
  border-color: red;
}

.mat-form-field-disabled .mat-form-field-underline {
  height: 0;
  border-bottom: none;
}

.mat-input-element:disabled {
  color: inherit !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: text !important;
}
