<div class="sidebar" [class.open]="isSidebarOpen">
  <button class="toggleSidebar" (click)="toggleSidebar()">
    <a [ngClass]="{ 'rotated-90deg': isSidebarOpen }" class="scroll-up">
      <span class="left-bar"></span>
      <span class="right-bar"></span>
      <svg width="40" height="40">
        <line class="top" x1="0" y1="0" x2="120" y2="0" />
        <line class="left" x1="0" y1="40" x2="0" y2="-80" />
        <line class="bottom" x1="40" y1="40" x2="-80" y2="40" />
        <line class="right" x1="40" y1="0" x2="40" y2="1200" />
      </svg>
    </a>
  </button>

  <ng-container *ngIf="isSidebarOpen">
    <div class="container">
      <h1>Paramètres générales</h1>
      <br />
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title class="card-header">
            Matériels à afficher
            <hr />
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form
            class="example-form"
            [formGroup]="formGroup"
            (ngSubmit)="alertFormValues(formGroup)"
            ngNativeValidate
          >
            <div class="row">
              <div class="col-lg-3">
                <mat-slide-toggle color="primary" formControlName="online">
                  En ligne
                </mat-slide-toggle>
              </div>
              <div class="col-lg-3">
                <mat-slide-toggle color="primary" formControlName="offline">
                  Hors ligne
                </mat-slide-toggle>
              </div>
              <div class="col-lg-3">
                <mat-slide-toggle
                  color="primary"
                  formControlName="unknownStatus"
                >
                  Incertain
                </mat-slide-toggle>
              </div>
              <div class="col-lg-3">
                <mat-slide-toggle
                  color="primary"
                  formControlName="maintenance"
                  [disabled]="true"
                >
                  En maintenance
                </mat-slide-toggle>
              </div>

              <mat-error
                class="col-lg-12"
                *ngIf="formGroup.hasError('statusRequired')"
              >
                Choisir au moins un status
              </mat-error>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <p>Date</p>
              </div>
              <mat-form-field class="col-lg-6">
                <mat-label>Debut</mat-label>
                <input
                  matInput
                  [matDatepicker]="dateDebut"
                  formControlName="dateDebut"
                />
                <mat-hint>DD-MM-YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="dateDebut"
                ></mat-datepicker-toggle>
                <mat-datepicker #dateDebut></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="col-lg-6">
                <mat-label>Fin</mat-label>
                <input
                  matInput
                  [matDatepicker]="dp"
                  formControlName="dateFin"
                />
                <mat-hint>DD-MM-YYYY</mat-hint>
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="dp"
                ></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
              <div class="row">
                <div class="col-lg-12">
                  <mat-error
                    *ngIf="formGroup.hasError('dateDebutAfterDateFin')"
                  >
                    Date invalide
                  </mat-error>
                </div>
              </div>
            </div>
            <br /><br />
            <button
              [disabled]="formGroup.invalid"
              mat-raised-button
              type="submit"
            >
              Enregistrer
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
