<header>
  <div class="title">
    <img class="headerImage" src="assets/logo.png" alt="" />
    Tracking devices
    <button class="btn btn-outline btn-header" (click)="initialData()">
      ACCUEIL
    </button>
    <button
      class="btn btn-outline btn-header params"
      mat-button
      [matMenuTriggerFor]="belowMenu"
    >
      Manorintsoa
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
      <button
        [routerLink]="['/parametres']"
        routerLinkActive="router-link-active"
        mat-menu-item
      >
        Parametres
      </button>
      <button mat-menu-item>Deconnexion</button>
    </mat-menu>
  </div>
</header>

<main>
  <app-sidebar (messageEvent)="receiveMessage($event)"></app-sidebar>

  <div class="map-container">
    <button
      (click)="getLocation()"
      appTopChange
      [top]="'60px'"
      matTooltip="Localisation"
      class="map-control"
    >
      <mat-icon>gps_fixed</mat-icon>
    </button>
    <ng-container *ngFor="let layer of backgroundLayers">
      <button
        appTopChange
        [top]="layer.top"
        (click)="updateBackgroundLayer(layer)"
        [matTooltip]="layer.name"
        class="map-control"
        [style.backgroundImage]="'url(' + layer.background + ')'"
      ></button>
    </ng-container>
    <button
      *ngIf="activeDetails || (currentDraw && !lastDraw)"
      (click)="initialData()"
      appTopChange
      [top]="'260px'"
      matTooltip="Retour"
      class="map-control"
    >
      <mat-icon>undo</mat-icon>
    </button>

    <button
      *ngIf="drawId && lastDraw"
      (click)="saveCoordinates()"
      appTopChange
      matTooltip="Sauvegarder"
      [top]="'300px'"
      class="map-control"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button
      *ngIf="drawId && lastDraw"
      (click)="cancelCoordinates()"
      appTopChange
      matTooltip="Annuler"
      [top]="'340px'"
      class="map-control"
    >
      <mat-icon>close</mat-icon>
    </button>
    <app-map [map]="map"></app-map>
  </div>
</main>
<footer>
  <app-scaleline [map]="map"></app-scaleline>
  <app-mouse-position
    [map]="map"
    positionTemplate="{x} longitude, {y} latitude"
  ></app-mouse-position>
</footer>

<div class="popup" id="popup">
  <a class="close" (click)="closePopup()" id="popup-close">×</a>
  <div class="content" id="popup-content"></div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
