// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$map-primary: mat.define-palette(mat.$indigo-palette);
$map-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$mat-green: mat.define-palette(mat.$green-palette);
// The warn palette is optional (defaults to red).
$map-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$map-theme: mat.define-light-theme(
  (
    color: (
      primary: $mat-green,
      accent: $map-accent,
      warn: $map-warn,
      test: $mat-green,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($map-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root {
  --primary-color: #0fb6d7;
  --secondary-color: #247a5f;
  --third-color: #d7224b;
  --fourth-color: #f09322;
  --fifth-color: #d94c8c;
  --sixth-color: #9e6949;
  --seventh-color: #c54d46;
}

.updateData {
  background-color: var(--primary-color);
  color: #efefef;
  transition-duration: 0.3s;
}

.updateData:hover {
  border-color: var(--primary-color);
  border-width: 1px;
  color: var(--primary-color);
  transition-duration: 0.3s;
}

.updateData1 {
  background-color: var(--third-color);
  color: #efefef;
  transition-duration: 0.3s;
}

.updateData1:hover {
  border-color: var(--third-color);
  border-width: 1px;
  color: var(--third-color);
  background-color: transparent;
  transition-duration: 0.3s;
}

.updateData2 {
  background-color: var(--fourth-color);
  color: #efefef;
  transition-duration: 0.3s;
}

.updateData2:hover {
  border-color: var(--fourth-color);
  border-width: 1px;
  color: var(--fourth-color);
  background-color: transparent;
  transition-duration: 0.3s;
}

.updateData3 {
  background-color: var(--fifth-color);
  color: #efefef;
  transition-duration: 0.3s;
}

.updateData3:hover {
  border-color: var(--fifth-color);
  border-width: 1px;
  color: var(--fifth-color);
  background-color: transparent;
  transition-duration: 0.3s;
}

.updateData4 {
  background-color: var(--secondary-color);
  color: #efefef;
  transition-duration: 0.3s;
}

.updateData4:hover {
  border-color: var(--secondary-color);
  border-width: 1px;
  color: var(--secondary-color);
  background-color: transparent;
  transition-duration: 0.3s;
}

.updateData5 {
  background-color: var(--sixth-color);
  color: #efefef;
  transition-duration: 0.3s;
}

.updateData5:hover {
  border-color: var(--sixth-color);
  border-width: 1px;
  color: var(--sixth-color);
  background-color: transparent;
  transition-duration: 0.3s;
}

.updateData6 {
  background-color: var(--seventh-color);
  color: #efefef;
  transition-duration: 0.3s;
}

.updateData6:hover {
  border-color: var(--seventh-color);
  border-width: 1px;
  color: var(--seventh-color);
  background-color: transparent;
  transition-duration: 0.3s;
}

.titleItem {
  // background-color: var(--primary-color);
  background-color: #efefefd7;
  border: 1px solid #585353de;
  padding: 10px;
  border-radius: 10px;
  color: #585353de;
  font-weight: 100;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.header {
  background-color: var(--secondary-color) !important;
  color: rgb(228, 228, 228);
  font-weight: bolder;
}
